@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.App {
  background-color: #b01213;
  text-align: center;
  margin: auto;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0; 
  left: 0;
  font-family: 'Open Sans', sans-serif;
}

.trademark{
  margin-top: 10px;
  color: white;
}

.yt-icon{
  height: 14px;
  margin-top: -4px;
  margin-right: 5px;
}

.logo {
  height: 200px;
  pointer-events: none;
}

.load-more {
  display: block !important;
  margin: 50px !important;
  background: white !important;
  text-transform: capitalize !important;
}

.results {
  margin-top: 10px;
  color: white;
  text-align: center;
}

.name {
  text-decoration: none;
  color: white;

}

.name:hover{
  color: black;
}

.wvbtn {
  background: white !important;
  text-transform: capitalize !important;
  margin: 10px !important;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600 !important;
}

.header {
  overflow: hidden;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.loading-results {
  color:white;
}

.search {
  align-items: center;
  padding: 5px 20px 5px 20px;
  margin: 10px;
  border-radius: 0.4rem;
  border: none;
  transition: box-shadow 300ms;
  height: 50px;
  width: 600px;
  font-weight: 500;
  font-size: 24px;
}

@media only screen and (max-width: 800px) {
  .search {
    width: 95vw;
  }
}

.video-dropdown {
  float: right;
}

.additional-info {
  text-align: center;
  margin: auto;
}

.search:focus {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem
}
