@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.section {
    margin: 20px;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    transition: box-shadow 300ms;
    font-size: 18px;
    display: inline-block;
    font-style: italic;
    width: '100vw';
  }

.video-frame{
    float: none;
    width: '80vw';
}



@media only screen and (max-width: 800px) {
    .section {
        margin: 0px;
        width: 100%;
        overflow: hidden;
    }
}

@media only screen and (min-width: 800px) {
    .video-frame{
        width: 560px;
        height: 315px;
        align-items: center;
    }
}

.contents {
    color: white;
    font-size: 24px;
    width: 100%;
    margin-top: 2%;
    
}